build*/
out*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
*.cmake.user
*.ninja
*.ninja_deps
*.ninja_log
compile_commands.json

.vs/
*.suo
*.user
*.userosscache
*.sln
*.vcxproj*
*.vcproj*
*.VC.db
*.VC.opendb
ipch/
x64/
Win32/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/

*.obj
*.pdb
*.ilk
*.pch
*.idb
*.tlog
*.log

*.o
*.a
*.dll
*.exe
*.stackdump

.idea/
.vscode/
*.code-workspace

cmake-build-debug/
cmake-build-release/

.DS_Store
Thumbs.db